.navbar {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo p {
  color: #171717;
  font-size: 32px;
  font-weight: 600;
}
.nav-menu {
  display: flex;
  align-items: center;
  color: #626262;
  gap: 50px;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}

.nav-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}
.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 130px;
  height: 40px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 15px;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
}
.nav-login-cart button:active {
  background: #f3f3f3;
}
.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}
