.product-display {
  display: flex;
  margin: 0px 170px;
}

.product-display-left {
  display: flex;
  gap: 17px;
}

.product-display-img-list {
  display: flex;
  flex-direction: column;
  gap: 16;
}
.product-display-img-list img {
  height: 163px;
}
.product-display-main-img {
  width: 586px;
  height: 700px;
}
